<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Album Upload</title>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <style>
        .divupload {
            text-align: center;
            margin: 0px auto;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Album Express</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="/">Home
                    <span class="sr-only">(current)</span>
                </a>
                <a class="nav-item nav-link active" href="/upload">Upload</a>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class='divupload'>
                <form action="/upload" enctype="multipart/form-data" method="post" id='formUpload'>
                    <select class="form-control" name="selectedFolder">
                        <% selections.forEach(function(fileName){ %>
                            <option value="<%= fileName %>"><%= fileName %></option>
                        <%})%>                        
                    </select>
                    <br>
                    <input type="file" class="form-control-file" id="fileInput" multiple="multiple" name="upload">
                    <br>
                    <input type="button" value="Upload" class="btn btn-primary" id='submitBtn'>
                </form>
            </div>
        </div>
    </div>

    <script>
        window.onload = function(){
            $('#submitBtn').on('click', (event)=>{
                var formData = new FormData(document.getElementById('formUpload'));
                 $.ajax({
                    type: "POST",//send method
                    dataType: "json",//the data type that you expect your server send to you.
                    url: "/upload",//url
                    data: formData, //$('#formUpload').serialize(),
                    async: false,
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function (result) {
                        console.log(result); //打印服务端返回的数据(调试用)
                        if (result.resultCode == 200 || result.result == 'success') {
                            alert("upload success");
                            $('[name=upload]').val('');
                        }
                    },
                    error: function () {
                        alert("error");
                    }
                });
            });
        };
    </script>
</body>

</html>