.img404{
    width: 1000px;
    height: 619px;
    position: relative;
    margin: 0px auto;
    display: block;
    background-repeat: no-repeat;
}
.navclass{
    position: fixed;
    z-index: 999;
    width: 100%;
}
.imgDiv{
    position: relative;
    width: 100%;
    height: auto;
    text-align: center;
}

.imgfolder{
    max-width: 80%;
    max-height: 80%;
    border-radius: 5px;
    box-shadow:10px 10px 40px slategray; 
}

.divgridfolder{
    margin-top: 50px;
}

.divImgGroup {
    text-align: center;
}